<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TessDataPath" value="C:\Users\tanishq.sehra.EBIXNOIDA\source\repos\scannerTestApp\scannerTestApp\tessdata" />
		<add key="TempFileSaveLocation" value="D:\scanner code\testData\00610879\ss" />
		<add key="language" value="eng" />
		<add key="TempImage" value="D:\scanner code\testData\filemoved" />
	</appSettings>
</configuration>